@import "/src/components/root.css";

.header-page-presenter-container {
    margin: 2rem;
    margin-top: 1rem;
    height: calc(100% - 3rem);
}

.header-page-presenter-primary {
    font-size: 3rem;
    font-weight: 300;
    color: var(--primary);

    margin: 0;
}

.header-page-presenter-secondary {
    font-size: 2rem;
    font-weight: 100;
    color: var(--primary);
    margin: 0;
}