@import url("../../root.css");
@import url("./components/Animation.css");

.SubjectViewMaster {
	background-color: var(--primary);
	scrollbar-width: thin;
}

.SubjectWrapper {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--primary);

	animation-name: Fade;
	animation-duration: 0.25s;
}
.Scrollable {
	margin: 0 auto;
	overflow-y: auto;
	max-width: 50rem;
	height: 95vh;
	scrollbar-width: thin;
}

.Scrollable::-webkit-scrollbar {
	width: 0.5rem;
}

.Scrollable::-webkit-scrollbar-thumb {
	width: 0.5rem;
	background-color: var(--complementary);
	border-radius: 10px;
}

.HeaderSubjectView {
	color: white;
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 900;
}

.logoutIcon {
	cursor: pointer;
	position: relative;
	top: 1rem;
	left: 1rem;
	width: 1.5rem;
	transition-property: transform left;
	transition-duration: 0.1s;
}

@media(min-width: 40rem) {
	.logoutIcon {
		left: 10rem;
	}
}

.logoutIcon:hover {
	transform: scale(1.05);
}
.logoutIcon:active {
	transform: scale(0.95);
}

.GroupItemContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
}

.Nested {
	margin: 0;
	margin-top: 1.5rem;
}

.Column {
	display: grid !important;
	justify-content: center;
	margin-bottom: 1rem;
}

@media(min-width: 40rem) {
	.textObjectContainer {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.ButtonWrapper {
	display: grid;
	align-items: center;
	width: fit-content;
	margin: 0.6rem 0.25rem;
	justify-self: center;
}

@media (min-width: 40rem) {
	.ButtonWrapper {
		margin: 0.3rem 0.25rem;
	}
}