@import "../../../root.css";

.ButtonWrapperEditMode {
	margin: 0.5rem;
	background-color: var(--dark);
	padding: 0.5rem;
	border-radius: 10px;
}

.editModeField {
	display: grid;
}

.editLabel {
	color: white;
}

.buttonContainerEditMode {
	display: flex;
	justify-content: center;
}

.editModeInputField {
	border-radius: 4px;
	padding: 0.25rem;
	color: white;
	border: none;
	background-color: var(--complementary);
}

.textObjectWrapper {
	justify-self: center;

	display: grid;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	max-width: 20rem;
	margin: 1rem;
	margin-bottom: 2rem;
}

.Column > .textObjectWrapper {
	margin-bottom: 0.5rem;
}