@import "../../../root.css";

.deadlineContainer {
	justify-self: center;

	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	margin-bottom: 1rem;
	width: 10rem;
	overflow-x: hidden;
}

.deadlineWrapper > .deadlineContainer {
	height: 9rem;
}

.countdownText {
	text-align: center;
	color: white;
	margin: 0.2rem 0;
}
.countdownText:nth-of-type(2) {
	margin-top: 1rem;
}

.deadlineTitleText {
	text-align: center;
	color: white
}

.deadlineWrapper > .deadlineContainer > .deadlineTitleText {
	overflow-x: hidden;
	width: 10rem;
	word-wrap: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.deadLineProgressBar::-webkit-progress-bar,
.deadLineProgressBar {
	width: 10rem;
	margin: 0 auto;

	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 10px;

	background-color: var(--complementary);	
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.25);
}

.deadLineProgressBar::-webkit-progress-value,
.deadLineProgressBar::-webkit-progress-inner-element {
	background-color: var(--dark);
	border-radius: 10px;
}
.deadLineProgressBar::-moz-progress-bar {	

	animation-name: deadlineFlash;
	animation-duration: 7s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;

	background-color: var(--dark);
	border-radius: 10px;
}

.transparent {
	color: transparent;
}

.accent {
	color: var(--primary);
}

@keyframes deadlineFlash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	55% {
		opacity: 0.25;
	}
	65% {
		opacity: 1;
	}
}