.deadlineRendererContainer {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	scrollbar-width: thin;
	display: grid;
	justify-content: center;
}

.deadlineWrapper {
	width: 80vw;
	max-width: 70rem;
	height: 23rem;
	overflow-y: auto;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.deadlineWrapper::-webkit-scrollbar {
	width: 0.4rem;
	border-radius: 5px;
	background-color: #dfdfdf;
}

.deadlineWrapper::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 5px;
}

.deadlineWrapperTitle {
	text-align: center;
	color: var(--primary);
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}