body {
	background-color: #78909C;
}

.Master {
	margin: 0;
	width: 100%;
	background-color: #78909C;
	overflow-y: hidden;
	scrollbar-width: thin;
}

.Title {
	text-align: center;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: #ECEFF1;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

.SubjectContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}