@import url("../../root.css");

body {
	background-color: var(--primary-background);
	overflow-x: hidden;
	overflow-y: hidden;
}

.Master {
	display: grid;
	margin: 0;
	width: 100%;
	background-color: var(--primary-background);
	overflow-y: hidden;
	scrollbar-width: thin;
}

.Title {
	text-align: center;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: var(--primary);
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

.SubjectContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media(min-width: 40rem) {
	.Title {
		margin-top: 4rem;
	}
	.SubjectContainer {
		align-items: center;
	}
}

.CreditsWrapper {
	position: absolute;
	min-width: 20rem;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	justify-items: center;
	margin: 0 0.5rem;
}

.Credits {
	text-align: center;
	justify-self: center;
	font-style: italic;
	margin: 0.5rem 0;
	color: transparent;
	animation-name: FadeOut;
	animation-duration: 1s;
}
.Credits a{
	color: inherit;
}

.editModeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.editModeContainer label {
	margin: 0 1rem;
}

.editModeContainer p {
	font-style: italic;
	color: #777;
}

.editModeCourse {
	background-color: var(--complementary);
}

.editModeCourse p {
	color: white;
}