@import url("../../root.css");

body {
	background-color: var(--primary-background);
	overflow-x: hidden;
	overflow-y: hidden;
}

.Master {
	display: grid;
	margin: 0;
	width: 100%;
	background-color: var(--primary-background);
	scrollbar-width: thin;
	justify-content: center;
}

@media (max-width: 35rem) {
	body {
		overflow-y: auto;
	}
}

@media (max-width: 20rem) {
	.Master {
		margin-bottom: 4rem;
	}
}

.Title {
	text-align: center;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: var(--primary);
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}

.SubjectContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media(min-width: 40rem) {
	.Title {
		margin-top: 2rem;
	}
	.SubjectContainer {
		align-items: center;
	}
}

.CreditsWrapper {
	position: absolute;
	min-width: 20rem;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	justify-items: center;
	margin: 0 0.5rem;
}

.Credits {
	text-align: center;
	justify-self: center;
	font-style: italic;
	margin: 0.5rem 0;
	color: transparent;
	animation-name: FadeOut;
	animation-duration: 1s;
}
.Credits a{
	color: inherit;
}

.editModeContainer {
	display: grid;
	align-items: center;
	justify-content: center;
}

.editModeContainer label {
	margin: 0 1rem;
}

.extendModeContainer p,
.editModeContainer p {
	margin-top: 0;
	font-style: italic;
	text-align: center;
}

.subjectViewEditMode {
	display: flex !important;	
	align-items: center;
}

.subjectViewEditMode p {
	margin: 1rem;
}

.editModeCourse {
	background-color: var(--complementary);
	max-height: 5vh;
}

.extendModeContainer {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.editModeCourse p {
	color: white;
}

.versionText {
	font-size: 0.9rem;
	margin-top: 0.25rem;
	text-align: center;
	color: var(--primary);
}

.bottomContainer {
	background-color: var(--accent-background);
	position: fixed;
	bottom: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	z-index: 101;
}

.toolbarItem {
	color: white;
	margin: 0 3rem;
}

.toolbarItem .switch {
	margin: 0 auto;
}

.leaderboardButtonWrapper {
	display: grid;
	justify-content: center;
	margin: 1rem 0;
}

.leaderboardLink {
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
}

.leaderboardButton {
	background-color: var(--primary);
	padding: 0.65rem 1.15rem;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;

	transition-property: opacity;
	transition-duration: 0.3s;
}

/* Light theme colors */
@media (prefers-color-scheme: light) {
	.leaderboardButton {
		border-color: transparent;
	}
}

.leaderboardButton:hover {
	cursor: pointer;
	opacity: 0.7;
}

.feedbackWrapper {
	display: none;

	position: absolute;
	top: 0;
	right: 10%;

	text-align: center;
}

.feedbackContainer {
	padding: 0.5rem 1rem;

	border-width: 1px;
	border-style: solid;
	border-color: white;
	
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	width: 8rem;

	transition-property: background-color;
	transition-duration: 0.25s;
}

.feedbackContainer:hover {
	cursor: pointer;
	background-color: var(--primary);
}

@media(min-width: 60rem) {
	.feedbackWrapper {
		display: block;
	}	
}

.feedbackWrapper a {
	color: white;
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	.feedbackContainer {
		border-color: var(--primary);
	}
  	.feedbackWrapper a {
		color: var(--primary)
	}
	.feedbackContainer:hover {
		color: white;
	}
}