@import "../../root.css";

.default-header-container {
    width: 100%;
    height: var(--default-header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default-header-version-container {
    height: 100%;
}

.default-header-version-number {
    font-size: 1.3rem;

    font-weight: 100;
    margin: 2rem;
    color: var(--primary);
}