@import "../../root.css";

.default-header-container {
    width: 100%;
    height: var(--default-header-height);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.default-header-page-presenter-container {
    grid-area: HeaderPagePresenter;
    width: 15rem;
}

.default-header-top-bar {
    height: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-header-logged-in-text {
    margin: 0;
    text-align: center;
}

.default-header-logged-in-logout-link {
    margin-left: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--color-text);
}

.default-header-logged-in-logout-link:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
}

.default-header-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-header-menu-top-auth-container {
    display: flex;
}

.default-header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 850px) {
    .default-header-container {
        display: grid;
        grid-template-areas: 
        "HeaderPagePresenter Version"
        "NavMenu NavMenu";
    }
}

.default-header-menu {
    grid-area: NavMenu;
}

.default-header-version-container {
    grid-area: Version;
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

@media(min-width: 1000px) {
    .default-header-version-container {
        min-width: 15rem;
    }
}

.default-header-version-number {
    font-size: 1.3rem;

    text-align: right;

    font-weight: 100;
    margin: 2rem;
    color: var(--primary);
}