.group-item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	max-width: 50rem;
}

.dynamic-content-group-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin-top: 2rem;
	margin-bottom: 2rem;
}

.RenderContentContainer.Group {
	width: 100%;
}

.RenderContentContainer.editmode {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.border,
.header-border {
	border-color: var(--color-text);
	border-width: 2px;
	border-style: solid;
}

.header-border {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.group-item-title {
	font-size: 1.25rem;
}

/* Mobile layout */
@media (max-width: 550px) {
    .group-item-container {
        flex-direction: column;
		flex-wrap: nowrap;
    }
}