
.GroupButtonContainer {
    display: grid;
    justify-content: center;
}

.GroupButtonContainer div {
    margin: 0.25rem 0;
}

.GroupButtonContainer div button {
    margin: 0.1rem
}

.GroupButtonContainerNewContent {

}

.GroupButtonContainerOptions {
    display: flex;
    justify-content: center;
}

.GroupButtonContainerDeleteGroup {
    display: flex;
    justify-content: center;
}