@import url("../../../root.css");
 
 /* The animation code */
@keyframes Expand {
  	from {
		transform: scale(0.95);
		opacity: 1;
	}
  	to {
		transform: scale(10);
		opacity: 0.25;
	}
}

@keyframes FadeOut {
	from {
		color: transparent;
	}
	to {
		color: transparent;
	}
}

@keyframes SneakPeakSummon {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	80% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}