@import url("../../../root.css");
 
 /* The animation code */
@keyframes Expand {
  	from {
		transform: scale(0.95);
		opacity: 1;
	}
  	to {
		transform: scale(10);
		opacity: 0.25;
	}
}

@keyframes Fade {
	from {
		background-color: transparent;
	}
	to {
		background-color: var(--primary);
	}
}

@keyframes FadeOut {
	from {
		color: #ccc;
	}
	to {
		color: transparent;
	}
}