.deadline-column-item-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;

    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;

    transition-property: opacity, transform, margin-top, margin-bottom;
    transition-duration: 0.5s;
}

/* Mobile layout */
@media (max-width: 550px) {
    .deadline-column-item-container {
        margin-top: 2rem;
        grid-template-columns: 1fr;
    }
    
}

.deadline-column-item-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.deadline-column-item-displayText {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.1rem;
    color: var(--primary);
}

.deadline-column-item-displayText.small {
    font-size: 0.8rem;
}

.deadline-column-item-description-container {
    margin-bottom: 0.5rem;
}

.deadline-column-item-passed-text-container p {
    margin: 0;
}

.deadline-column-item-checkmark-container {
    display: grid;
    grid-template-rows: 1fr min-content;
    
    justify-content: end;
    align-items: center;
}

.deadline-column-item-checkmark {
    margin: 1rem;
}

.deadline-column-item-checkmark-container svg:hover {
    cursor: pointer;
}
.deadline-column-item-checkmark-container svg:hover path {
    fill: var(--primary);
}

.deadline-column-item-datetime-container {
    margin-bottom: 0.5rem;
}

.deadline-column-item-date-container {
    display: flex;
}

.deadline-column-item-date-container p {
    margin: 0;
    margin-right: 0.25rem;
    margin-left: 0.25rem;

    text-align: center;
}

.deadline-column-item-date-container p:nth-child(1) {
    margin-left: 0;
}

.deadline-column-item-date-container p:nth-child(3) {
    margin-right: 0;
}

.deadline-column-item-time-container p {
    margin: 0;
    margin-top: 0.5rem;
}

.deadline-column-item-complete {
    opacity: 0;
    margin-bottom: -6rem;
}

.deadline-column-item-button {

    justify-self: end;

    width: 7rem;
    height: 2rem;

    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    border-width: var(--default-border-width);
    border-style: solid;

    border-radius: 5px;

    user-select: none;
}

.deadline-column-item-button:hover {
    cursor: pointer;
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
}

.deadline-column-item-button p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
}

/* Mobile layout */
@media (max-width: 550px) {
    .deadline-column-item-button {
        margin-top: 1rem;
    }
}

.deadline-date-text {
    text-align: end;
    margin: 0;
    word-wrap: break-word;
    font-style: italic;
    font-size: 0.9rem;
}