@import url("../../../root.css");
@import url("./Animation.css");


.SneakPeakContainer {
	display: grid;
}

.SneakPeakWrapper {
	justify-self: center;
	align-self: flex-start;
	max-height: 20rem;

	animation: SneakPeakSummon;
	animation-duration: 0.25s;
	z-index: 10;
}

.ContentContainer {
	padding: 1rem;
	width: 40rem;
	max-height: 20rem;
	background-color: var(--primary);
	overflow-y: auto;

	border-radius: 20px;
}