@import url("/src/components/root.css");

.subjects-layout-container {
    display: flex;
    justify-content: center;
    align-items: center;

    --preview-box-height: 20rem;
    --box-container-text-height: 2.5rem;
    --box-container-text-underline-height: 4px;
    --margin-between-into-and-box: 1rem;

    transition-property: margin-top;
    transition-duration: var(--default-transition-duration);
}

@media (max-width: 1100px) {
    .subjects-layout-container {
        margin-top: 2rem;
    }
}

.subjects-layout-grid-container {
    display: grid;
    grid-template-areas: 
        "preview preview preview deadline"
        "courses courses courses deadline"
        "courses courses courses deadline";

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--preview-box-height) 1fr;

    width: 80vw;
    max-height: calc(100vh - var(--default-header-height) - 2rem);
    height: 80vh;

    column-gap: 3rem;
    row-gap: 1rem;
}

@media (max-width: 1600px) {
    .subjects-layout-grid-container {
        grid-template-areas: 
            "preview preview deadline"
            "courses courses deadline"
            "courses courses deadline";

        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px), (max-height: 800px) {
    .subjects-layout-grid-container {
        grid-template-areas: 
            "preview"
            "courses"
            "deadline";

        grid-template-columns: 1fr;

        min-height: 80vh;
    }
}

.subjects-layout-box-container-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--layout-box-container-intro-height);
}

.subjects-layout-box-container-intro h3 {
    font-size: var(--box-container-text-height);
    line-height: var(--box-container-text-height);
    margin: 0;
    margin-bottom: calc(var(--margin-between-into-and-box) + var(--box-container-text-underline-height));
    color: var(--primary);
    font-weight: 400;
}

.subjects-layout-box-container-intro h3::after {
    position: relative;
    top: 0.25rem;

    display: block;
    content: "";
    background-color: var(--primary);
    width: 4rem;
    height: var(--box-container-text-underline-height);
}

@media (min-width: 950px) {
    .subject-code-sneakpeak-mobile-title {
        display: none;
    }
}

@media (max-width: 460px) {
    .subjects-layout-box-container-preview-title {
        display: none;
    }
}

.subjects-layout-box-container-course {
    overflow-y: auto;
}

.empty-preview-box-title-container {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-preview-box-title {
    margin: 0;
    font-style: italic;
    opacity: 0.4;

    font-size: 2rem;

    transition-property: font-size;
    transition-duration: var(--default-transition-duration);
}

@media (max-width: 1300px) {
    .empty-preview-box-title {
        font-size: 1.5rem;
    }
}
@media (max-width: 700px) {
    .empty-preview-box-title {
        font-size: 1rem;
    }
}

.subjects-layout-box-container-courses-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;

    margin: 1rem;
}

.subjects-layout-preview-box {
    grid-area: preview;
    width: calc(100% - 2 * var(--default-border-width));
    height: calc(100% - 2 * var(--default-border-width));
}
.subjects-layout-deadline-box {
    grid-area: deadline;
    width: calc(100% - 2 * var(--default-border-width));
    height: calc(100% - 2 * var(--default-border-width));
}
.subjects-layout-courses-box {
    grid-area: courses;
    width: calc(100% - 2 * var(--default-border-width));
    height: calc(100% - 2 * var(--default-border-width));
}

.subjects-layout-box-container {
    height: calc(100% - 2 * var(--default-border-width) - var(--box-container-text-height) - var(--box-container-text-underline-height) - var(--margin-between-into-and-box));
    min-height: 12rem;

    overflow-y: auto;
}