@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.Subject {
	display: grid;
	justify-content: center;
	align-items: center;

	
	width: 100%;
	height: min-content;
	max-width: 15rem;
	margin: 1rem;
	border-radius: 1rem;
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: ease-in;

	user-select: none;
	-webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
	-o-tap-highlight-color:transparent;
	
	-webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.1);
}

@media(min-width: 40rem) {
	.Subject {
		width: 50%;
	}
}

.Header {
	color: white;
	text-align: center;
	user-select: none;
	width: min-content;

	margin: 0.9rem auto;
	padding: 0.5rem 4rem;
}
.Header:hover {
	cursor: pointer;
	text-decoration: underline;
}

.expandable {
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease-in;
}

.Description {
	margin: 1rem 0.75rem;
	margin-top: 0;
	color: white;
	font-size: 0.8rem;
	text-align: center;
}

.LinkContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
}

.Button {
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
	background-color: #aaa;
	border-radius: 1rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 0.75rem;
	max-width: 12rem;

	transition-property: all;
	transition-duration: 0.25s;

	-webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.1);
}

.Button:hover {
	filter: brightness(0.9);
}

.subTitle {
	color: white;
	text-align: center;
	margin-bottom: 0.5rem;
}

.nestedLinkContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	word-wrap: break-word;
}

.textObjectContainer {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.textObjectTitle, 
.textObject {
	margin: 0;
	color: white;
	text-align: center;
	max-width: 12rem;
}
.textObjectTitle {
	margin-bottom: 0.5rem;
}
.textObject {
	font-size: 0.8rem;
}