@import url("../../../root.css");

.subject-item-wrapper {
	flex: 1;
	margin: 0.5rem;

	min-width: 15rem;
}

.subject-item-container {
	min-height: 5rem;
	margin: 1rem;
}

.subject-item-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.subject-item-header-container h4 {
	margin: 0;
	margin-left: 1rem;
	color: var(--primary);
	font-size: 1.25rem;
}