@import "../../root.css";

/* The draggable wrapper is only applied when
    user initiates a dragging gesture 
*/
.DraggableWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.ButtonWrapperEditMode {
	margin: 0.5rem;
	background-color: var(--dark);
	padding: 0.5rem;
	border-radius: 10px;
}

.editModeField {
	display: grid;
}

.editLabel {
	color: white;
}

.buttonContainerEditMode {
	display: flex;
	justify-content: center;
}

.editModeInputField {
	border-radius: 4px;
	padding: 0.25rem;
	color: white;
	border: none;
	background-color: var(--complementary);
}