@import "../../root.css";

/* The draggable wrapper is only applied when
    user initiates a dragging gesture 
*/
.draggable-wrapper {
    position: fixed;
    top: 0;
    left: 0;

	width: 100vw;
	height: 100vh;
}

.ButtonWrapperEditMode {
	margin: 0.5rem;
	background-color: var(--dark);
	padding: 0.5rem;
	border-radius: 10px;
}

.editModeField {
	display: grid;
}

.editModeField:not(.editModeField:nth-child(1)) {
	margin-top: 1rem;
}

.editLabel {
	color: white;
}

.buttonContainerEditMode {
	display: flex;
	justify-content: center;
}

.editModeInputField {
	border-radius: 4px;
	padding: 0.25rem;
	color: white;
	border: none;
	background-color: var(--color-gray-3);
	padding: 0.75rem;
	margin-top: 0.5rem;
}