@import "../../root.css";
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

.deadline-container {
    position: relative;

    margin: 1rem;
    padding: 1rem;
    min-width: 15rem;

    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

.deadline-container:hover {
    cursor: pointer;
    background-color: var(--color-gray-2);
}

.deadline-container.animated {
    transform: rotateY(90deg) scaleZ(0);
}

.deadline-content-container {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  column-gap: 1rem;
}

.deadline-content-container.completed {
    grid-template-columns: 1fr;
    height: 102.39px;
}

.deadline-content-complete-text {
    text-align: center;
}

.deadline-content-container-no-date {
    grid-template-columns: 1fr;
}

.deadline-title-text {
    justify-self: center;
    text-align: center;
    margin-top: 0;

    max-width: 15rem;
}

.date-countdown-container {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.date-countdown-container p {
    margin: 0;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;

    text-align: end;
}

.progress-wheel-container {
    align-self: center;

    width: 6.4rem;
    height: 6.4rem;
}

.CircularProgressbar-text {
    font-weight: 700;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: scaleZ(0);
}