.link-button-wrapper {
    display: inline-block;
    min-width: 2rem;

    margin: 1rem;

    font-family: "Roboto", sans-serif;
}

.link-button-wrapper.editmode {
    padding: 1rem;
}

.link-button-link {
    display: inline-block;
    text-decoration: none;
}

.link-button {

    font-family: 'Roboto', sans-serif;

    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    border-width: 2px;
    border-style: solid;
    color: var(--color-btn-text);

    border-radius: 5px;

    margin: 0;
    padding: 0.5rem 1.5rem;

    transition-property: font-size;
    transition-duration: var(--default-transition-duration);
}

.link-button:hover {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
}

/* Mobile layout */
@media (max-width: 550px) {
    .link-button {
        font-size: 0.8rem;
    }
}