@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
	/* Please use official Datasektionen colours :P https://datasektionen.se/organisation/grafisk-profil */
	--primary: #EE2A7B;
	--complementary: #EC5F99;
	--dark: #E83D84;

	--addition: #FCDA04;
	--modification: #64b5f6;
	--deletion: #e57373;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-background: #F7F7F7;
		--accent-background: #EC5F99;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-background: #330019;
		background-color: var(--primary-background);
	}
	body {
		--primary-background: #330019;
		background-color: var(--primary-background);
	}
}