@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
	--primary: #ff007b;
	--complementary: #ff80bd;
	--dark: #cc0063;

	--addition:#81c784;
	--modification: #64b5f6;
	--deletion:#e57373;
}

@media (prefers-color-scheme: light) {
  	:root {
		--primary-background: #e3f2fd;
		--accent-background: #ff4da3;
	}
}

@media (prefers-color-scheme: dark) {
  	:root {
		--primary-background: #330019;
		background-color: var(--primary-background);
	}
	body {
		--primary-background: #330019;
		background-color: var(--primary-background);
	}
}