.contributorsWrapper h1, 
.contributorsWrapper h2, 
.contributorsWrapper h3, 
.contributorsWrapper p {
	color: white;
}

.contributorsWrapper h1 {
	text-align: center;
}

.contributorsWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.contributorsContainer {
	width: 35rem;
}

.contributorList {
	margin: 2rem;
}

/* Light theme colors */
@media (prefers-color-scheme: light) {
	.contributorsWrapper h1, 
	.contributorsWrapper h2, 
	.contributorsWrapper h3, 
	.contributorsWrapper p {
		color: var(--primary);
	}
}

.contributorsWrapper .logoutIcon {
	top: 1.5rem;
	left: 1rem;
	padding: 0.5rem;
	background-color: var(--primary);
}