
.contributors-top-contributors-container {
	display: grid;
	grid-template-areas: 
	". topContributor topContributor ."
	"secondContributor secondContributor thirdContributor thirdContributor";

	column-gap: 15rem;
	row-gap: 2rem;

	margin-top: 2rem;

	transition-property: column-gap;
    transition-duration: var(--default-transition-duration);
}


@media (max-width: 1100px) {
	.contributors-top-contributors-container {
		column-gap: 7rem;
	}
}

@media (max-width: 800px) {
	.contributors-top-contributors-container {
		grid-template-areas: 
		"topContributor"
		"secondContributor"
		"thirdContributor";
	}
}

.contributors-top-contributor-container {
	grid-area: topContributor;
}

.contributors-second-contributor-container {
	grid-area: secondContributor;
}

.contributors-third-contributor-container {
	grid-area: thirdContributor;
}

.info-duplicates {
	width: 20rem;
	margin-bottom: 5rem;
}

.contributors-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contributors-title {
	text-align: center;
}

.contributors-rest-container {
	margin-top: 5rem;
	margin-bottom: 5rem;
	max-width: 40rem;
}

@media (min-width: 1000px) {
	.contributors-rest-container {
		width: 30rem;
	}
}